@charset "UTF-8";

#hyunju {
    .hyunju {
        position: relative;
        &__bg {
            height: 100vh;
            text-align: center;
        }
        &__gnb {
            height: 100%;
            width: 95px;
            left: 0;
            top: 0;
            bottom: 0;
            pointer-events: none;
            background: #f7f7f7;
            position: fixed;
            border-right: 1px solid #efefef;
            padding-top: 30px;
            &--btn {
                cursor: pointer;
                img {width: 23px;}
            }
        }
        &__main {
            background: url("/images/img_main.png") no-repeat;
            background-size: contain;
            background-color: #fff;
            background-position: right;
            height: 700px;
        }
        &__title {
            font-size: 50px;
            font-weight: 700;
            position: relative;
            display: block;
            color: #fff;
            -webkit-background-clip: text;
            white-space: nowrap;
            ::selection {
                background: #D10000;
                color: #ffffff;
            }
        }
    }
}
