@charset "UTF-8";

    .hyunju {
        position: relative;
        *::selection {
            background: #ff6570;
            color: #fff;
        }
        &__wrap {
            width: 1100px;
            margin: 0 auto;
        }
        &__bg {
            text-align: center;
        }
        &__gnb {
            position: fixed;
            top: 120px;
            width: 130px;
            right: 70px;
            background: #f7f7f7;
            border-bottom: 1px solid #efefef;
            &--list {
                font-size: 14px;
                text-transform: uppercase;
                display: block;
                text-align: left;
                padding: 10px 20px;
                transition: all 0.1s;
                &:hover {
                    color: #ff6570;
                }
            }
        }
        &__main {
            background: url("/images/img_main.png") no-repeat;
            background-size: contain;
            background-color: #fff;
            background-position: right;
            height: 700px;
        }
        &__titBox {
            padding-top: 350px;
            text-align: left;
            padding-left: 320px;
        }
        &__title {
            font-size: 50px;
            font-weight: 700;
            position: relative;
            display: block;
            color: #fff;
            -webkit-background-clip: text;
            white-space: nowrap;
            ::selection {
                background: #D10000;
                color: #ffffff;
            }
        }
        &__title {
            font-size: 44px;
            color: #ff6570;
            font-weight: 400;
        }
        &__desc {
            font-size: 25px;
            font-weight: 300;
            color: #5f5b5a;
        }

        &__about {
            margin-top: 68px;
            display: block;
            margin-bottom: 60px;
            &--left {
                display: inline-block;
            }
            &Box {
                &.-left {
                    background: #f6f7f9;
                    padding: 70px 60px;
                    display: inline-block;
                }
                &.-right {
                    display: inline-block;
                }
                &--tit {
                    font-size: 26px;
                    color: #44494d;
                    margin-bottom: 46px;
                }
                &--txt {
                    margin-bottom: 27px;
                    font-size: 14px;
                    color: #55584f;
                    line-height: 25px;
                }
            }
        }

        //common

        .titBox {
            position: relative;
            padding-bottom: 60px;
            &:before {
                content: '';
                display: inline-block;
                position: absolute;
                background: #394762;
                width: 6px;
                height: 67px;
            }
            &__desc {
                margin-left: 27px;
                font-size: 15px;
                color: #8C8C8C;
                font-weight: 300;
            }
            &__title {
                margin-left: 27px;
                font-size: 34px;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 1.33;
                color: #3A4763;
                display: inline-block;
                background: linear-gradient(transparent 75%, #ff6570 60%);
            }
        }

        .itemBox {
            display: block;
            padding-bottom: 60px;
            .items {
                .item {
                    &:nth-child(1) {
                        margin-left: 0;
                    }
                    display: inline-block;
                    width: 24%;
                    margin-left: 10px;
                    margin-bottom: 10px;
                    border: 1px solid rgba(#343434, 0.5);
                    &__img {
                        width: 100%;
                    }
                    &__tit {
                        margin-top: 28px;
                        font-size: 17px;
                        transition: all 0.2s;
                        color: #555555;
                    }
                    &__text {
                        margin-top: 28px;
                        font-size: 12px;
                        padding-left: 15px;
                        padding-bottom: 15px;
                        color: #8C8C8C;
                    }
                    &:hover {
                        .item__tit {
                            color: #ff6570;
                        }
                    }
                }
            }
        }
        &__footer {
            padding: 20px;
            background: #394762;
            text-align: center;
            &--text {
                color: #fff;
                font-size: 12px;
                line-height: 2;
                &.-line {
                    &:after {
                        content: '';
                        display: inline-block;
                        background: #fff;
                        width: 1px;
                        height: 10px;
                        margin: auto 10px;
                    }
                }
            }
        }
    }

